@import "../main.scss";

.header {
  background: linear-gradient(to right top, $blue, $turquoise);
  margin: 0px;
}

.header-text {
  height: 70px;
  color: linear-gradient(to right top, black, $blue);
  font-family: "Lato";
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
}
